<div id="page_wrapper">
    <div class="header click_menu transparent">
      <!-- =========================== HEADER ==========================-->
      <div class="mainbar">     
        <div class="container-fluid">
          <div class="logo"><a href="index_1.html" class="brand"><img src="images/logo.png" alt="logo"></a></div>
          <div class="nav_and_tools nav_centered uppercase transparent">    
            <nav class="primary_nav">
              <ul class="nav">
                <li><a href="index_1.html">Home</a></li>
                <li><a href="room-list.html">Rooms</a></li>
                <li><a href="location.html">Location</a></li>
                <li><a href="index-activities.html">Activities</a></li>
                <li><a href="index-restaurant.html">Restaurant</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div><a class="menu-toggler"><span class="title"></span><span class="lines"></span></a>
      </div>
      <!-- END======================== HEADER ==========================-->
    </div>
 </div>